{% load staticfiles %}
{% load base_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}EMPTY TITLE{% endblock title %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css" rel="stylesheet">
	<link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">
	
</head>
<body>
<span id="_pageName" style="display:none">{% block pagename %}{% endblock %}</span>
<span id="_subPageName" style="display:none">{% block subpagename %}{% endblock %}</span>

<nav class="navbar navbar-default" style="border-radius: 0px; !important">
<div class="container-fluid">	
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aira-controls="navbar">
			<span class="sr-only">Toggle menu</span>
			<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/" style="padding-right: 8px;">
			<img src="https://image.eveonline.com/Corporation/98199571_64.png" width="58" height="58" style="position: relative; top: -19px;">
		</a>
		<a class="navbar-brand" href="/">Anti-Nub Incorporated</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			{% if not user.is_authenticated %}
				<li data-link-name="account"><a href="#">Account</a></li>
				<li data-link-name="services"><a href="#">Services</a></li>
			{% endif %}
			<li><a href="http://fleet-up.com/">Fleet-Up</a></li>
			<li><a href="https://anti-nub.zkillboard.com/">Killboard</a></li>
			{% if perms.aniauth.is_director %}
				<li{% navactive request 'services' %}><a href="/admin"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Admin</a></li>
			{% endif %}
		</ul>
		
		{% block navLoginForm %}
		{% if user.is_authenticated %}
		{% else %}
			<form class="navbar-form navbar-right" action="{% url 'aniauth.views.login' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label class="sr-only" for="navInputEmail">Email address</label>
					<input id="navInputEmail" type="email" placeholder="Email" class="form-control">
				</div>
				<div class="form-group">
					<label class="sr-only" for="navInputPassword">Password</label>
					<input id="navInputPassword" type="password" placeholder="Password" class="form-control">
				</div>
				<input type="hidden" name="next" value="{{ next }}">
				<button type="submit" class="btn btn-success">Login</button>
				<a class="btn btn-info" href="{% url 'aniauth.views.register' %}">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Register
				</a>
			</form>
		{% endif %}
		{% endblock navLoginForm %}
	</div>
</div>
</nav>


<div class="container-fluid">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			<div class="list-group">
				{% block subnav %}{% endblock subnav %}
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<p class="pull-left visible-xs">
				<span class="sr-only">Toggle navigation</span>
				<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">nav</button>
			</p>
			<div class="jumbotron">
				{% block contentHeader %}{% endblock contentHeader %}
			</div>
			{% block content %}{% endblock content %}
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{% static 'js/offcanvas.js' %}"></script>
<script src="{% static 'js/activenav.js' %}"></script>

</body>
</html>